::-webkit-scrollbar{
  visibility: hidden;
}

.App{
  background-color: black;
}

.Upper{
  overflow-y: scroll;
  overflow-x: hidden;
  color: rgb(247, 189, 0);
  display: flex;
  flex-direction: column;
}

#output{
  margin-top: 35px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 0;
}

.Fotter{
  background-color: rgb(0, 39, 46);
  border-top-left-radius: 200vh;
  border-top-right-radius: 200vh;
  color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.commandInput{
  height: 25px;
  padding-left: 3px;
  border: none;
  outline: transparent;
  background: transparent;
  color: greenyellow;
  width: 80%;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  align-items: center;
  overflow: auto;
  border-bottom: white;
  border-left: transparent;
  border-top: transparent;
  border-right: transparent;
  border-width: 0.1px;
  border-style: solid;
}

.commandInputText,#output p{
  font-size: 13px;
  border: none;
  outline: transparent;
  background: transparent;
  overflow: auto;
  word-break: break-all;
}

.commandInputText{
  color: greenyellow;
}

#activeLine, .inactiveLine{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

#activeLine p{
  animation-name: activeLine;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.commandOutput{
  color: rgb(0, 211, 18);
  font-size: 13px;
  font-weight: 200;
  overflow: auto;
  word-break: break-all;
  margin: 0;
}

#animation{
  position: fixed;
  color: rgb(0, 211, 18);
  animation-name: loading;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes loading{
  0%{transform: rotateZ(00deg);}
  50%{transform: rotateZ(180deg);}
  100%{transform: rotateZ(360deg);}
}

@keyframes activeLine{
  50%{color: transparent;}
}